@model IEnumerable<Project.Models.ClassListItem>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ClassId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PrimaryGun)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PrimaryAttach)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SecondaryGun)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SecondaryAttach)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedUtc)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ClassId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PrimaryGun)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PrimaryAttach)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SecondaryGun)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SecondaryAttach)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedUtc)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ClassId }) |
            @Html.ActionLink("Details", "Details", new { id=item.ClassId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ClassId })
        </td>
    </tr>
}

</table>
